<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
  <!--<add key="ConnectionString" value="Data Source=localhost;Database=TutorSystem;Uid=sa;Pwd=789456123; "/>-->
    <!--<add key="ConnectionString" value="Data Source=localhost;Database=TutorSystem;Uid=sa;Pwd=789456123; "/>-->
    <!--<add key="ConnectionString" value="Data Source=172.29.132.127;Database=TutorSystem;Uid=sa;Pwd=werun2013; "/>-->
    <!--<add key="ConnectionString" value="Data Source=localhost;Database=TutorSystem;Uid=sa;Pwd=111; "/>-->
    <!--<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />-->
    <add key="ConnectionString" value="Data Source=Sql1001.webweb.com, 2433;Initial Catalog=DB_994561_TutorSystem;User Id=DB_994561_TutorSystem_admin;Password=789456123;"/>
    <add key="WeatherWS.WeatherWS" value="http://webservice.webxml.com.cn/WebServices/WeatherWS.asmx"/>
  <add key="IpAddressSearchWebService.IpAddressSearchWebService" value="http://webservice.webxml.com.cn/WebServices/IpAddressSearchWebService.asmx"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <!--<authentication mode="Forms">
      <forms loginUrl="~/Web/index.aspx" name=".ASPXFORMSAUTH"></forms>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>-->
  </system.web>
  <!--<location path="Web/css">
    -->
  <!--注意：该节点最好跟在</system.web>之后，尽管这两个节点可能在web.config文件中相隔比较远，不要觉得有什么疑惑。下面是对Admin文件夹的访问权限的配置。-->
  <!--
    <system.web>
      <authorization>
        <deny users="?"/>
        -->
  <!--阻止匿名用户访问-->
  <!--
      </authorization>
    </system.web>
  </location>
  <location path="App_Code">
    -->
  <!--注意：该节点最好跟在</system.web>之后，尽管这两个节点可能在web.config文件中相隔比较远，不要觉得有什么疑惑。下面是对Admin文件夹的访问权限的配置。-->
  <!--
    <system.web>
      <authorization>
        <deny users="?"/>
        -->
  <!--阻止匿名用户访问-->
  <!--
      </authorization>
    </system.web>
  </location>

  <location path="Web/fonts">
    -->
  <!--注意：该节点最好跟在</system.web>之后，尽管这两个节点可能在web.config文件中相隔比较远，不要觉得有什么疑惑。下面是对Admin文件夹的访问权限的配置。-->
  <!--
    <system.web>
      <authorization>
        <deny users="?"/>
        -->
  <!--阻止匿名用户访问-->
  <!--
      </authorization>
    </system.web>
  </location>

  <location path="Web/images">
    -->
  <!--注意：该节点最好跟在</system.web>之后，尽管这两个节点可能在web.config文件中相隔比较远，不要觉得有什么疑惑。下面是对Admin文件夹的访问权限的配置。-->
  <!--
    <system.web>
      <authorization>
        <deny users="?"/>
        -->
  <!--阻止匿名用户访问-->
  <!--
      </authorization>
    </system.web>
  </location>

  <location path="Web/js">
    -->
  <!--注意：该节点最好跟在</system.web>之后，尽管这两个节点可能在web.config文件中相隔比较远，不要觉得有什么疑惑。下面是对Admin文件夹的访问权限的配置。-->
  <!--
    <system.web>
      <authorization>
        <deny users="?"/>
        -->
  <!--阻止匿名用户访问-->
  <!--
      </authorization>
    </system.web>
  </location>-->
</configuration>